.charts-container {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  flex-wrap: wrap;
}

.chart-card {
  flex: 1 1 calc(50% - 8px);
  min-width: 300px;
  max-width: 500px;
}

.chart-card-full-width {
  flex: 1 1 100%;
}

.total-performance-card {
  margin-bottom: 16px;
}

.performance-metrics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;

  .metric {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-radius: 4px;
    background-color: #f5f5f5;
  }
}

.bar-chart-container {
  max-height: 600px;
  overflow: auto;
}

.mat-table {
  width: 100%;
}

.mat-column-peRatio, .mat-column-divYield {
  width: 100px; /* Adjust width as needed */
}

.example-detail-row {
  height: 0;
}

.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
